<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link href='https://fonts.googleapis.com/css?family=Bitter:400,400italic,700|Open+Sans:400,700,300,400italic,700italic,300italic' rel='stylesheet' type='text/css'>
  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'jquery-ui.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

{% include 'sca-quick-view-init' %} </head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
    <!-- begin mobile-nav -->
    <ul class="mobile-nav">
      <li class="mobile-nav__item mobile-nav__search">
        {% include 'search-bar' %}
      </li>
      {% for link in linklists.main-menu.links %}
        {% comment %}
          Create a dropdown menu by naming a linklist the same as a link in the parent nav

          More info on dropdowns:
            - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
            <div class="mobile-nav__has-sublist">
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
                  <span class="icon icon-plus" aria-hidden="true"></span>
                  <span class="fallback-text">See More</span>
                </button>
                <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
                  <span class="icon icon-minus" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                </button>
              </div>
            </div>
            <ul class="mobile-nav__sublist">
              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item">
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          {% if shop.customer_accounts_optional %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
          {% endif %}
        {% endif %}
      {% endif %}
    </ul>
    <!-- //mobile-nav -->
  </div>
  <div id="CartDrawer" class="drawer drawer--right">
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
        </button>
      </div>
    </div>
    <div id="CartContainer"></div>
  </div>
      <header class="site-header" role="banner">
      <div class="wrapper">

        <div class="grid--full grid--table">
          <div class="grid__item large--two-thirds">
            {% comment %}
              Use the uploaded logo from theme settings if enabled.
              Site name gets precedence with H1 tag on homepage, div on other pages.
            {% endcomment %}
            {% if template == 'index' %}
              <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url" class="site-header__logo-link">
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            {% if template == 'index' %}
              </h1>
            {% else %}
              </div>
            {% endif %}
             <div id="browseBox" class="left">
	        <b>Browse</b>
	        1,000+ Stores 
	    </div>
             <div class="site-header__search">
              {% include 'search-bar' %}
            </div>

          </div>
          <div class="grid__item large--one-third large--text-right medium-down--hide">
            {% comment %}
              Show number of items in the cart and total cost in the /cart link

              Ajax Cart Notes:
                - #cartCount updates the total number of items in the cart
                - #cartCost updates the total cost of the cart
                - Documentation:  http://shopify.com/timber#ajax-cart
            {% endcomment %}
            <div class="storeCart">
	            <a href="/pages/storefronts">Open your Shop</a>

	             <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                <span class="icon icon-cart" aria-hidden="true"></span>
                {% comment %}
                	{{ 'layout.cart.title' | t }}  
                (<span id="CartCount">{{ cart.item_count }}</span>
                {{ 'layout.cart.items_count' | t: count: cart.item_count }}
                <span id="CartCost">{{ cart.total_price | money }}</span>)
                
                {% endcomment %}
              </a>

	          
	          
	                       </div>

            {% comment %}
              If customer accounts are enabled, provide login and create account links
            {% endcomment %}
            {% if shop.customer_accounts_enabled %}
              <div>
                {% if customer %}
                  {% if customer.first_name != blank %}
                    {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                  {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                  {% endif %}
                  | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                {% else %}
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
                  {% if shop.customer_accounts_optional %}
                  | {{ 'layout.customer.create_account' | t | customer_register_link }}
                  {% endif %}
                {% endif %}
              </div>
            {% endif %}

            </div>
        </div>

      </div>
    </header>
    <nav class="nav-bar" role="navigation">
      <div class="wrapper">
        <div class="medium-down--hide">
          {% comment %}
            List out your main-menu linklist (default)

            More info on linklists:
              - http://docs.shopify.com/themes/liquid-variables/linklists
          {% endcomment %}
          <!-- begin site-nav -->
          <div class="navWrapper">
	          <ul class="site-nav wrapper" id="AccessibleNav">
	            {% for link in linklists.main-menu.links %}
	              {% comment %}
	                Create a dropdown menu by naming a linklist the same as a link in the parent nav
	
	                More info on dropdowns:
	                  - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
	              {% endcomment %}
	              {% assign child_list_handle = link.title | handleize %}
	              {% if linklists[child_list_handle].links != blank %}
	                <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
	                  <a href="{{ link.url }}" class="site-nav__link">
	                    {{ link.title }}
	                    
	                  </a>
	                  <ul class="site-nav__dropdown">
	                    {% for childlink in linklists[child_list_handle].links %}
	                      <li{% if childlink.active %} class="site-nav--active"{% endif %}>
	                        <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
	                      </li>
	                    {% endfor %}
	                  </ul>
	                </li>
	              {% else %}
	                <li {% if link.active %}class="site-nav--active"{% endif %}>
	                  <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
	                </li>
	              {% endif %}
	            {% endfor %}
	             <li class="site-nav partnerLink"><a href="#" class="site-nav__link">Become a Partner</a>
             <div class="partnerLinkInfo">
	             <img src="{{ 'navImage.jpg' | asset_url }}" />
				 <p>
					Want to create great gear for your fans? Get started for free!<br>
					<a href="#">Learn more ></a> 
				 </p>
             </div>
             </li>

	          </ul>
			</div>
          <!-- //site-nav -->
        </div>
  
  <div id="PageContainer" class="is-moved-by-drawer">

        <div class="large--hide medium-down--show">
          <div class="grid">
            <div class="grid__item one-half">
              <div class="site-nav--mobile">
                <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                  <span class="icon icon-hamburger" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
                </button>
              </div>
            </div>
            <div class="grid__item one-half text-right">
              <div class="site-nav--mobile">
                <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                  <span class="icon-fallback-text">
                    <span class="icon icon-cart" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="wrapper main-content" role="main">

      {{ content_for_layout }}

    </main>

    <!-- begin site-footer -->
    <footer class="site-footer" role="contentinfo">
      <div class="wrapper">
        <div class="grid">
          <!-- Press bubbles in footer -->
          <div class="grid__item large--one-third medium--one-half">
              <h6>Press</h6>
              <hr class="orangeDash" />
              <div class="grid">
                    <a class="grid__item large--one-third medium--one-third small--one-third" href="http://www.ellenshop.com/MODIFY-WATCH-pid4465-cid4984.html"><img src="{{ 'footerPress_Ellen.png' | asset_url }}" alt="Ellen" /></a>
                    <a class="grid__item large--one-third medium--one-third small--one-third" href="http://news.yahoo.com/deals-and-steals-beach-party-edition-173339934.html"><img src="{{ 'footerPress_GMA.png' | asset_url }}" alt="CBS Good Morning America" /></a>
                    <a class="grid__item large--one-third medium--one-third small--one-third" href="http://www.menshealth.com/style/watches-brights"><img src="{{ 'footerPress_MensHealth.png' | asset_url }}" alt="Men's Health" /></a>
                    <a class="grid__item large--one-third medium--one-third small--one-third" href="http://old.modifywatches.com/templates/Modify/images/default/press/WomensHealthJune2013.pdf"><img src="{{ 'footerPress_WomensHealth.png' | asset_url }}" alt="Women's Health" /></a>
                    <a class="grid__item large--one-third medium--one-third small--one-third" href="http://www.today.com/id/49063771/ns/today-video/#51036431"><img src="{{ 'footerPress_Today.png' | asset_url }}" alt="Today Show" /></a>
                    <a class="grid__item large--one-third medium--one-third small--one-third" href="https://instagram.com/p/OooPktED28/"><img src="{{ 'footerPress_VanityFair.png' | asset_url }}" alt="Vanity Fair" /></a>
                    <a class="grid__item large--one-third medium--one-third small--one-third" href="http://www.self.com/fitness/runners/2013/09/nighttime-running-gear-slideshow/"><img src="{{ 'footerPress_Self.png' | asset_url }}" alt="Self Magazine" /></a>
                    <a class="grid__item large--one-third medium--one-third small--one-third" href="http://boss.blogs.nytimes.com/2012/01/05/turning-facebook-followers-into-online-focus-groups/"><img src="{{ 'footerPress_NYT.png' | asset_url }}" alt="The New York Times" /></a>
                    <a class="grid__item large--one-third medium--one-third small--one-third" href="http://www.inc.com/young-entrepreneur-council/3-customer-service-rules-to-work-by.html"><img src="{{ 'footerPress_INC.png' | asset_url }}" alt="Inc" /></a>
                    <a class="grid__item large--one-third medium--one-third small--one-third" href="http://www.vogue.com/13295927/best-back-to-school-denim-kids-kidswear/"><img src="{{ 'footerPress_Vogue.png' | asset_url }}" alt="Vogue" /></a>
                    <a class="grid__item large--one-third medium--one-third small--one-third" href="http://techcrunch.com/2014/07/17/facebook-buy-button/"><img src="{{ 'footerPress_TechCrunch.png' | asset_url }}" alt="Tech Crunch" /></a>
                    <a class="grid__item large--one-third medium--one-third small--one-third" href="http://www.si.com/extra-mustard/2015/11/20/st-louis-cardinals-watch-dirt-busch-stadium"><img src="{{ 'footerPress_SportsIllustrated.png' | asset_url }}" alt="Sports Illustrated" /></a>
              </div>
          </div>
          <!-- Shop Linklist -->
          <div class="grid__item large--one-sixth push--large--one-sixth medium--one-quarter small--one-half">
              <h6>{{ linklists.shop.title }}</h6>
              <hr class="orangeDash" />
              <ul class="homeList">
                {% for link in linklists.shop.links %}
                <li>
                    <a href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
          <!-- About Modify Linklist -->
          <div class="grid__item large--one-sixth push--large--one-sixth medium--one-quarter small--one-half">
              <h6>{{ linklists.footer.title }}</h6>
              <hr class="orangeDash" />
              <ul class="homeList">
                {% for link in linklists.footer.links %}
                <li>
                    <a href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
          
            <div class="grid__item large--one-sixth push--large--one-sixth medium--one-half small--one-half">
                <h6>Talk to us</h6>
                <hr class="orangeDash" />
                <ul class="inline-list social-icons">
                    <li>
                      <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                        <span class="icon icon-instagram" aria-hidden="true"></span>
                        <span class="fallback-text">Instagram</span>
                      </a>
                    </li>
                    <li>
                      <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                        <span class="icon icon-pinterest" aria-hidden="true"></span>
                        <span class="fallback-text">Pinterest</span>
                      </a>
                    </li>
                    <li>
                      <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                        <span class="icon icon-twitter" aria-hidden="true"></span>
                        <span class="fallback-text">Twitter</span>
                      </a>
                    </li>
                                     <li>
                      <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                        <span class="icon icon-facebook" aria-hidden="true"></span>
                        <span class="fallback-text">Facebook</span>
                      </a>
                    </li>
                  
                </ul>
            </div>
       </div>
    </footer>
    
    {% comment %}
    Old Footer
    <footer class="site-footer small--text-center" role="contentinfo">
      <div class="wrapper">
        <div class="grid">
          <div class="grid__item large--one-third medium--one-half">
	          <a href="#"><b>Open your Shop</b></a>
          </div>
          <div class="grid__item large--one-third medium--one-half">
	          <ul class="inline-list wideList">
		          <li><a href="#">About Us</a></li>
		          <li><a href="#">Contact</a></li>
		          <li><a href="#">FAQ</a></li>
		          <li><a href="#">Privacy</a></li>
	          </ul>
	          
          </div>
            <div class="grid__item large--one-third medium--one-half text-right">
             
                <ul class="inline-list social-icons">
                    <li>
                      <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                        <span class="icon icon-instagram" aria-hidden="true"></span>
                        <span class="fallback-text">Instagram</span>
                      </a>
                    </li>
                    <li>
                      <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                        <span class="icon icon-pinterest" aria-hidden="true"></span>
                        <span class="fallback-text">Pinterest</span>
                      </a>
                    </li>
                    <li>
                      <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                        <span class="icon icon-twitter" aria-hidden="true"></span>
                        <span class="fallback-text">Twitter</span>
                      </a>
                    </li>
                                     <li>
                      <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                        <span class="icon icon-facebook" aria-hidden="true"></span>
                        <span class="fallback-text">Facebook</span>
                      </a>
                    </li>
                  
                </ul>
            </div>
       </div>
    </footer>
    {% endcomment %}
    <!-- //site-footer -->
  </div>

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
        // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}
    
    {% comment %}
    <!-- Power Tools view count code (Featured on top) -->
    {% endcomment %}
    {% if template contains 'product' %}
        <script type="text/javascript">
            (function () {
                var oldonload = window.onload;
                window.onload = function(){
                    var scr = document.createElement("script");
                    scr.setAttribute('async', 'true');
                    scr.type = "text/javascript";
                    scr.src = "//ping.shopifypowertools.com/ping/{{ shop.permanent_domain }}/{{ product.id }}?weight={% if product.tags contains 'Featured' or product.tags contains 'featured' %}100{% else %}1{% endif %}{% if collection %}&collection_id={{ collection.handle }}{% endif %}";
                    ((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
                    if(oldonload){oldonload()}};
            }());
        </script>
    {% endif %}
 <script>
	 $(document).ready(function () {
		attachClickEvent();
	});
</script>   
{% include 'sca-quick-view-template' %} 
 </body>
</html>
