<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900">
{% assign prefix = collection.handle | prepend: '' %}

{% assign collection_banner = prefix | append: '_banner.jpg' | asset_url %}
{% assign collection_tile = prefix | append: '_tile.jpg' | asset_url %}
{% assign collection_lifestyle_1 = prefix | append: '_lifestyle-1.jpg' | asset_url %}
{% assign collection_lifestyle_2 = prefix | append: '_lifestyle-2.jpg' | asset_url %}

{% assign collection_mod_asset = 'collection_small_mod_asset2.jpg' | asset_url %}

{% assign pagination_limit = settings.pagination_limit %}
{% paginate collection.products by pagination_limit %}
{% assign tag_count = collection.all_tags | size %}
{% assign tag_threshold = 8 %}
	 </main> 
<div class="expandedWidth collectionBanner">
	<img src="{{ collection_banner }}" />

<div id="collectionBookmark">
    <img src="{{ collection_tile }}" alt="{{ collection.title }} tile image" class="partnerIcon roundedBorder">
	<h3>{{ collection.title }}</h3>
	<a href="#"class="roundButton grey hidden">follow</a>
	<p class="hiddenMobile">Learn more about {{ collection.title }} and get a first look at their new collections</p>
	<hr>
	<ul class="inline-list social-icons hiddenMobile">
                    <li>
                      <a class="icon-fallback-text reverseLink" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                        <span class="fa fa-instagram" aria-hidden="true"></span>
                        
                      </a>
                    </li>
                    <li>
                      <a class="icon-fallback-text reverseLink" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                        <span class="fa fa-pinterest" aria-hidden="true"></span>
                        
                      </a>
                    </li>
                    <li>
                      <a class="icon-fallback-text reverseLink" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                        <span class="fa fa-twitter" aria-hidden="true"></span>
                        
                      </a>
                    </li>
                                     <li>
                      <a class="icon-fallback-text reverseLink" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                        <span class="fa fa-facebook" aria-hidden="true"></span>
                        
                      </a>
                    </li>
                 
                </ul>
 <div class="clear:both"></div>
</div>
</div>
 <main class="wrapper main-content" role="main">
<div class="grid--rev">
  <div class="grid__item two-thirds">
  
  
  
  <div id="tabs">
	  <ul class="inline-list collab-tiles">
		  <li><a href="#product-tab" class="reverseLink">Products</a></li>
		  <li><a href="#profile-tab" class="reverseLink">Profile</a></li>
	  </ul>
  
    <div id="profile-tab">
	    <p>
	       {% if collection.description != blank %}
	      <header class="section-header">
	        <h3 class="section-header__title">About {{ collection.title }}</h1><br>
	        <div class="rte rte--header">
	          {{ collection.description }}
	        </div>
	        <img src="{{ collection_lifestyle_1 }}" class="collectionLifestyle"/>
	        <img src="{{ collection_lifestyle_2 }}" class="collectionLifestyle"/>
	      </header>
	      {% endif %}
	    </p>
    </div>
    <div id="product-tab">
	       <div class="collection_product">
    {% if collection.products.size == 0 %}
      <div class="center">
        <div class="section clearfix">
          <p class="quote">No products found in this collection.</p>
        </div>
      </div>
    {% else %}
      {% assign products = collection.products %}
      {% assign products_per_row = "4" %}
      {% include 'product-loop' %}
    {% endif %}
    </div>

    
	
  </div>
  </div>
</div>
<div class="clear"></div>

<div class="grid-uniform">
	<h2 class="text-center">Searching for a gift?</h2>
	<div style="clear:both; height: 40px;"></div>
  <div class="grid__item one-quarter text-center">
	  <a href="/collections/watch-faces/for-him" class="grid__image reverseLink">
	    <img src="{{ 'ForMen_Tile.jpg' | asset_url }}" alt="gifts for him" class="roundedBorder">
	     <div class="buttonFrame"><button>SHOP</button></div>
	
	  <h5>
	   Gifts for Him
	  </h5>
	  </a>
 </div>
 <div class="grid__item one-quarter text-center">
	  <a href="/collections/watch-faces/for-her" class="grid__image reverseLink">
	    <img src="{{ 'ForHer_Tile.jpg' | asset_url }}" alt="Gifts for her" class="roundedBorder">
	     <div class="buttonFrame"><button>SHOP</button></div>
	 
	  <h5>
	   Gifts for Her
	  </h5>
	  </a>
 </div>
 <div class="grid__item one-quarter text-center">
	  <a href="/collections/watch-faces/for-kids" class="grid__image reverseLink">
	    <img src="{{ 'ForKids_Tile.jpg' | asset_url }}" alt="gifts for kids" class="roundedBorder">
	     <div class="buttonFrame"><button>SHOP</button></div>
	  
	  <h5>
	   Gifts for Kids
	  </h5>
	  </a>
 </div>
 <div class="grid__item one-quarter text-center">
	  <a href="/collections/watch-faces/for-pet-lovers" class="grid__image reverseLink">
	    <img src="{{ 'PetLovers_Tile.jpg' | asset_url }}" alt="/collections/watch-faces/for-pet-lovers" class="roundedBorder">
	     <div class="buttonFrame"><button>SHOP</button></div>
	 
	  <h5>
	    Gifts for Pet Lovers
	  </h5>
	  </a>
 </div>
 <div class="clear"></div>
</div>

<div class="grid-uniform purple text-center">
	<h2>Know an organization that deserves to have <br>great products?</h2>
	<h4>We'd love to do the work</h4>
	<a class="roundButton orange" href="/pages/collaboration-form">
		Get started, it's free
	</a>
</div>
{% endpaginate %}

<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>
