<!-- Define Sidenav Lists -->
{% comment %}
    Edit these variables to point to different link lists.
{% endcomment %}
{% assign sidenav1 = linklists.shop %}
{% assign sidenav2 = linklists.great-gifts %}
{% assign sidenav3 = linklists.interests %}


<!-- /templates/index.liquid -->
<section class="grid__item large--one-quarter grey-bg pageBanner text-center text-white genSection">
	<h5 class="grid__item large--three-quarters push--one-tenth">
        That could be <u>your</u> brand on that shirt.
    </h5>
    <button class="btn--secondary">Open your Shop</button>
    <p>
        <i>
        It's free!
        </i>
    </p>
</section>
<section class="grid__item large--three-quarters pageBanner homeBanner genSection">
	<h1 class="grid__item large--four-fifths push--large--one-tenth text-white">
        Be a patron of artists, nonprofits and more!
    </h1>
</section>

<section class="grid__item large--one-quarter medium--one-whole small--one-quarter clear">
    {% comment %}
        Make sure array here matches variables at the top of page.
    {% endcomment %}
    {% assign sidenavArray = "sidenav1|sidenav2|sidenav3|sidenav4" | split: "|" %}
    {% for item in sidenavArray %}
        <div class="grid__item large--one-whole medium--one-quarter">
            <h4>{{ [item].title }}</h4>
            <hr class="orangeDash">
            <ul class="homeList">
                {% for link in [item].links %}
                <li>
                    <a href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</section>

<section class="grid__item large--three-quarters small--three-quarters" id="pageTop">
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<h2>Trending Designs</h2>

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
	 {% assign grid_item_width = 'large--one-quarter medium--one-half small--one-half' %}
		<div class="grid-uniform">
			{% paginate collections.home-page.products by 16 %}
		<ul class="collection-matrix">
		 {% for product in collections.home-page.products %}
		 <li id="product-{{ forloop.index | plus:paginate.current_offset }}" class="grid__item {{ grid_item_width }}">
		  {% include 'art-grid' %}
		 </li> 
		 {% endfor %}
		 <!--<li class="top"><a href="#pageTop">Back to Top</a></li>  -->      
		 {% if paginate.next %}
		  <li class="more"><a href="{{ paginate.next.url }}">See More</a></li>        
		 {% endif %}
		 <div style="clear: both"></div>
		</ul>
		
		<div id="product-list-foot"></div>
		{% endpaginate %}


</div>
</section>