<!-- Main Header Section -->
<section class="grid__full large--one-whole">
    <img src="https://cdn.shopify.com/s/files/1/1159/6060/files/Lifestyle_HeaderDark.jpg?6729144987275242977">
    <h1 class="grid__item text-center text-white" style="position: relative; margin-top: -20%;">
        Custom merchandise for your fans. <br />
        Brand building and fundraising for you.
    </h1>
</section>

<!-- Open your shop CTA -->
<section class="grid__item large--one-whole blueSection text-center">
    <div>
        <button class="btn--secondary" name="form">Open your shop today!</button>
    </div>
</section>

<!-- First part of Process story section -->
<section class="grid__item large--one-whole genSection light-bg">
    <h1 class="grid__item large--one-whole text-center">
        You bring your fans, we'll do all the work
    </h1>
    
    <div class="grid__item large--one-third text-center">
        <img src="" />
        <h4>
            Your Brand
        </h4>
        <hr class="orangeDash-center" />
        <p>
            It starts with your brand, whether you give us artwork, a logo or just an idea.
        </p>
    </div>
    
    <div class="grid__item large--one-third text-center">
        <img src="" />
        <h4>
            Your Personal Designer
        </h4>
        <hr class="orangeDash-center" />
        <p>
            Our expert designers take your ideas and work their magic.
        </p>
    </div>
    
    <div class="grid__item large--one-third text-center">
        <img src="" />
        <h4>
            Your Own Storefront
        </h4>
        <hr class="orangeDash-center" />
        <p>
            Your storefront will always live on our site. It can live on yours too if you want!
        </p>
    </div>
</section>
<!-- Second part of Process story section -->
<section class="grid__item large--one-whole genSection">
    <div class="grid__item large--one-half push--one-twelfth">
        <div class="grid__item large--three-quarters push--one-qaurter">
            <img src="" />
            <h3>
                Build Your Brand
            </h3>
            <hr class="orangeDash" />
            <p>
                You'll get awesome images to help spread the word.
            </p>
        </div>
        
        <div class="grid__item large--three-quarters push--one-qaurter">
            <img src="" />
            <h3>
                Earn Cash
            </h3>
            <hr class="orangeDash" />
            <p>
                You'll receive 20% of revenue from your products. (30% if you're a Nonprofit)
            </p>
        </div>
    </div>
    
    <div class="grid__item large--one-half">
        <img src="https://cdn.shopify.com/s/files/1/1159/6060/files/Lifestyle_HeaderDark.jpg?6729144987275242977" />
    </div>
</section>

<!-- Wufoo Form Section -->
<section class="grid__item large--one-whole genSection">
    <h1 class="text-center">Sign-up and we'll get designing :)</h1>
    
    <div class="grid__item large--three-quarters push--large--one-eighth">
        <div id="wufoo-k1a3lhfc1m6ui47">
        Fill out my <a href="https://modifywatches.wufoo.com/forms/k1a3lhfc1m6ui47">online form</a>.
        </div>
        <script type="text/javascript">var k1a3lhfc1m6ui47;(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'modifywatches',
        'formHash':'k1a3lhfc1m6ui47',
        'autoResize':true,
        'height':'1033',
        'async':true,
        'host':'wufoo.com',
        'header':'hide',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { k1a3lhfc1m6ui47 = new WufooForm();k1a3lhfc1m6ui47.initialize(options);k1a3lhfc1m6ui47.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>
    </div>
</section>

<!-- Press Bubbles Section -->
<section class="grid__item large--one-whole genSection orange-bg">
  <div class="grid__item large--one-whole">
    <h6 class="text-center text-white">AS SEEN IN</h6>
    <div class="grid__item large--one-whole press-top-row">
      <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://www.ellenshop.com/MODIFY-WATCH-pid4465-cid4984.html"><img class="leading" src="{{ 'Press_Ellen.png' | asset_url }}" alt="Ellen" /></a>
      <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://news.yahoo.com/deals-and-steals-beach-party-edition-173339934.html"><img src="{{ 'Press_GoodMorningAmerica.png' | asset_url }}" alt="CBS Good Morning America" /></a>
      <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://www.menshealth.com/style/watches-brights"><img src="{{ 'Press_MensHealth.png' | asset_url }}" alt="Men's Health" /></a>
      <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://old.modifywatches.com/templates/Modify/images/default/press/WomensHealthJune2013.pdf"><img src="{{ 'Press_WomensHealth.png' | asset_url }}" alt="Women's Health" /></a>
      <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://www.today.com/id/49063771/ns/today-video/#51036431"><img src="{{ 'Press_Today.png' | asset_url }}" alt="Today Show" /></a>
      <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="https://instagram.com/p/OooPktED28/"><img class="trailing" src="{{ 'Press_VanityFair.png' | asset_url }}" alt="Vanity Fair" /></a>
      <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter small--one-third" href="#"><img class="leading" src="{{ 'Press_Self.png' | asset_url }}" alt="Self Magazine" /></a>
      <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter small--one-third" href="http://boss.blogs.nytimes.com/2012/01/05/turning-facebook-followers-into-online-focus-groups/"><img src="{{ 'Press_NYT.png' | asset_url }}" alt="The New York Times" /></a>
      <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter push--medium--one-eighth small--one-third" href="https://twitter.com/mitsu_tsuchiya/status/354314395058319362"><img src="{{ 'Press_Nylon.png' | asset_url }}" alt="Nylon" /></a>
      <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter push--medium--one-eighth small--one-third push--small--one-sixth" href="#"><img src="{{ 'Press_Vogue.png' | asset_url }}" alt="Vogue" /></a>
      <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter push--medium--one-eighth small--one-third push--small--one-sixth" href="#"><img class="trailing" src="{{ 'Press_Lucky.png' | asset_url }}" alt="Lucky Magazine" /></a>
    </div>
  </div>
</section>

<!-- Support Section -->
<section class="grid__item large--one-whole genSection purple-bg text-white">
    <h1 class="text-center">
        Help when you need it.
    </h1>
    <p class="text-center">
        Building your brand comes first. Got a question? Just ask!
    </p>
    
    <div class="grid__item large--one-half medium--one-half small--one-half">
        <img class="grid__item large--one-fifth medium--one-half push--medium--one-quarter" src="{{ 'Support_TalkIcon.png' | asset_url }}" alt="Talk to us" />
        <div class="grid__item large--four-fifths">
            <h3>
                Talk to us
            </h3>
            <p>
                Contact us whenever you have a question.<br />
                Email us at partners@modify.com
            </p>
        </div>
    </div>
    
    <div class="grid__item large--one-half medium--one-half small--one-half">
        <img class="grid__item large--one-fifth medium--one-half push--medium--one-quarter" src="{{ 'Support_GuideIcon.png' | asset_url }}" alt="Your guide to success" />
        <div class="grid__item large--four-fifths">
            <h3>
                Your guide to success
            </h3>
            <p>
                Learn the do's do not's, maybe do's and probably don't with our 
                <a href="">Partner Handbook</a>
            </p>
        </div>
    </div>
    
    <div class="grid__item large--one-half medium--one-half small--one-half">
        <img class="grid__item large--one-fifth medium--one-half push--medium--one-quarter" src="{{ 'Support_NewsletterIcon.png' | asset_url }}" alt="Partner newsletters" />
        <div class="grid__item large--four-fifths">
            <h3>
                Partner newsletters
            </h3>
            <p>
                Every month we send out a newsletter just for our partners, with case studies and tips to help you grow!
            </p>
        </div>
    </div>
    
    <div class="grid__item large--one-half medium--one-half small--one-half">
        <img class="grid__item large--one-fifth medium--one-half push--medium--one-quarter" src="{{ 'Support_DesignerIcon.png' | asset_url }}" alt="Your personal designer" />
        <div class="grid__item large--four-fifths">
            <h3>
                Your personal designer
            </h3>
            <p>
                Work with our designers to bring your our next design to life. Submit your new ideas 
                <a href="">here!</a>
            </p>
        </div>
    </div>
</section>

<!-- Mini Partner FAQ Section -->
<section class="grid__item large--one-whole genSection">
    <h1 class="text-center">
        Frequently Asked Questions
    </h1>
    <p class="text-center">
        Here are some common questions about partnering with Modify.
    <p>
        
    <div class="grid__item large--one-half">
        <h3>
            What do you mean, No Cost and No Risk?
        </h3>
        <p>
            You're busy. You are building your brand, helping folks/animals/the environment with your nonprofit, or maybe just creating exceptional art or music.
        </p>
        <p>
            We are not busy! So we've invested in the ability to bring the best of what the "big guys" get to you. 
        </p>
        <p>
            That means: free design, print-on-demand production (you don't pay a cent!), great marketing advice and of course, fast fulfillment and great service.
        </p>
    </div>
    
    <div class="grid__item large--one-half">
        <h3>
            Why print-on-demand?
        </h3>
        <p>
            Waste stinks ... and so does riskk. By creating everything print-on-demand, your fans will be getting the freshest product (literally hot off the presses). And no one will sit on inventory that is stale. 
        </p>
        <p>    
            AND, well, sometimes a great design doesn't sell. So this gives you an opportunity to test out a lot of products before you make a commitment. That way your fans always get designs that they love.
        </p>
    </div>
    
    <div class="grid__item large--one-half">
        <h3>
            How do I sign up?
        </h3>
        <p>
            All you need to do to sign up is fill in this 
            <a href="">form.</a>
        </p>
        <p>
            Ethos works with any individual or organization that has an audience. 1,000 fans on Facebook? That works for us. 2,500 people on a newsletter you send? GREAT. 
        </p>
        <p>
            Your fans and supporters should be able to wear their passion ... we'll help you deliver this.
        </p>
    </div>
    
    <div class="grid__item large--one-half">
        <h3>
            How much do I get?
        </h3>
        <p>
            20% of the revenue of every sale goes to you! If you're a nonprofit - or if you want to donate your proceeds to a nonprofit - you get 30%. Not profit. Not margin. But revenue. Sell a shirt for $25? You get $5 (or $7.50).
        </p>
        <p>
            Your fans love your story - help them wear their passion on a daily basis.
        </p>
    </div>
</section>

<!-- Bottom CTA Section -->
<section class="grid__item large--one-whole genSection grey-bg text-center text-white">
    <h1>
        Open your store <u>today!</u>
    </h1>
    <p>
        Help your fans rep the brand they love... yours! It's completely free to get started.
    </p>
    <button class="btn--secondary" name="form">
        Get started, it's free!
    </button>
</section>